# @clerk/fastify
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Cloudflare D1
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# set to ./src/db/dq.sqlite, if developing locally,
# leave empty otherwise
LOCAL_DB_PATH=./src/db/db.sqlite
